# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.egg-info/

# Build artifacts
build/
*.exe

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.zip
~$*

# Environment
.env
